<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>appel offre</th>
    <th>status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.titreAo }}</td>
    <td class="d-flex justify-content-between">
      <p *ngIf="data.status">{{data.status}}</p>
      <p *ngIf="!data.status">EN COURS</p>
      <i  class="float-right" nz-icon style="font-size: 25px; color: #08c;" nzType="eye" nzTheme="outline"></i>
    </td>

  </tr>
  </tbody>
</nz-table>
