<app-table-basic [isGestionCandidatComponent]="true" (modalData)="getIdCandidat($event)"  (isVisibleData)="getIsVisibleValue($event)"></app-table-basic>
<nz-modal [nzWidth]="1400" style="color: #0088cc"  [(nzVisible)]="isVisible" nzTitle="Candidat: {{contentModal?.name}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div class="d-flex justify-content-center">
    <div class="mr-2">
      <p class="font-weight-bold font-italic lead">Curriculum Vitae</p>
      <nz-collapse nzAccordion [nzBordered]="true">

            <!--      <nz-collapse-panel (click)="dispaly()" *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">-->
            <!--        <input type="text" placeholder="text1">-->
            <!--      </nz-collapse-panel>-->
            <nz-collapse-panel [nzActive]="true" [nzHeader]="'Coordonnées personnel'">
              <form class="form-group" >
                <input title="nom candidat" class="mr-2 mt-2" readonly value="{{contentModal.name}}"  nz-input />
                <input title="lieu candidat" class="mr-2 mt-2" readonly value="{{contentModal.lieu}}"  nz-input />
                <input title="email candidat" class="mr-2 mt-2" readonly value="{{contentModal.email}}"  nz-input />
              </form>
            </nz-collapse-panel>

            <nz-collapse *ngIf="contentModal.educations" >
              <nz-collapse-panel [nzActive]="true" [nzHeader]="'parcours académique et professionnel'">

                <nz-collapse>
                  <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Education'" >
                    <div class="m-3" >
                      <nz-collapse *ngFor="let educ of contentModal.educations ">

                        <nz-collapse-panel [nzActive]="true" [nzHeader]="'Education'">
                          <form class="form-group" >
                            <input title="nom école" class="mr-2 mt-2"  readonly value="{{educ.nomEcole}}"  nz-input />
                            <input title="type diplome" class="mr-2 mt-2" readonly value="{{educ.typeDiplome}}"  nz-input />
                            <label title="date debut" class="p-2 mr-2 mt-2" style="border: 1px solid #E1E2E8">{{educ.dateDebut | date}} </label>
                            <label title="date fin" class="p-2" style="border: 1px solid #E1E2E8">{{educ.dateFin | date}}</label>
                          </form>
                        </nz-collapse-panel>
                      </nz-collapse>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>

                <nz-collapse *ngIf="contentModal.experiences">
                  <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Experience'" >
                    <div class="m-3" >
                      <nz-collapse *ngFor="let exp of contentModal.experiences">
                        <nz-collapse-panel [nzActive]="true" [nzHeader]="'Experience'">
                          <input title="nom societe" class="mr-2 mt-2" readonly value="{{exp.nomSociete}}" nz-input />
                          <input title="titre poste" class="mr-2 mt-2" readonly value="{{exp.titrePoste}}" nz-input/>
                          <label title="date debut" class="p-2 mr-2 mt-2" style="border: 1px solid #E1E2E8">{{exp.dateDebut | date}} </label>
                          <label title="date fin" class="p-2" style="border: 1px solid #E1E2E8">{{exp.dateFin | date}}</label>
                          <textarea title="description de la poste" class="mr-2 mt-2" readonly nz-input value="{{exp.descriptionPoste}}" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                        </nz-collapse-panel>
                      </nz-collapse>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-collapse>
    </div>
      <div *ngIf="profile">
        <p class="font-weight-bold font-italic lead">linkedIn</p>
        <div class="d-flex justify-content-between">
          <div>
            <img *ngIf="profile.imageProfileValid" class="rounded-circle" alt="example" src="{{profile.imgProfile}}"/>
            <img *ngIf="!profile.imageProfileValid" class="rounded-circle" alt="example"
                 src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqrrxsxZSpsfebkw8VLXe6R5j7mryT6PK7Pg&usqp=CAU'/>
          </div>

          <div >
            <a href="{{profile.link}}" class="float-right" nz-button [nzSize]="size" nzType="link">
              <i style="font-size: 25px; color: #08c;cursor: pointer" nz-icon nzType="linkedin" nzTheme="outline"></i>
            </a>
            <input class="m-2" placeholder="name" nz-input [(ngModel)]="profile.name"/>
            <input class="m-2" placeholder="profile_title" nz-input [(ngModel)]="profile.profile_title"/>
            <textarea readonly placeholder="aucune donnée" class="m-2" name="about" nz-input  [nzAutosize]="{ minRows: 4, maxRows: 50 }" [(ngModel)]="profile.about"></textarea>
          </div>
        </div>
        <nz-collapse>
          <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Educations'" >
            <div class="m-3" >
              <nz-collapse *ngFor="let education of profile.education ">
                <nz-collapse-panel [nzActive]="true" [nzHeader]="'Education'" >
                  <div class="d-flex justify-content-between">
                    <div>
                      <img *ngIf="education[0]" class="rounded-circle" alt="photo école" src="{{education[0]}}"/>
                      <img *ngIf="!education[0]" style="width: 103px;height: 110px" class="rounded-circle" alt="photo école" src="https://www.cvent-assets.com/brand-page-guestside-site/assets/images/venue-card-placeholder.png"/>
                    </div>
                    <div>
                      <form class="form-group" >
                        <input placeholder="aucune donnée" title="nom école" class="mr-2 mt-2" readonly value="{{education[1]}}"  nz-input />
                        <input placeholder="aucune donnée" title="titre de diplome" class="mr-2 mt-2"  readonly value="{{education[2]}}"  nz-input />
                        <input placeholder="aucune donnée" title="durée" class="mr-2 mt-2" readonly value="{{education[3]}}"  nz-input />
                      </form>
                    </div>
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
        <nz-collapse>
          <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Experiences'" >
            <div class="m-3" >
              <nz-collapse *ngFor="let experience of profile.experience ">
                <nz-collapse-panel [nzActive]="true" [nzHeader]="'Experience'" >
                  <div class="d-flex justify-content-between">
                    <div class="mr-2">
                      <img *ngIf="experience[0]" class="rounded-circle" alt="photo societé" src="{{experience[0]}}"/>
                      <img *ngIf="!experience[0]" style="width: 103px;height: 110px" class="rounded-circle" alt="photo societé" src="https://www.cvent-assets.com/brand-page-guestside-site/assets/images/venue-card-placeholder.png"/>
                    </div>
                    <div>
                      <form class="form-group" >
                        <input placeholder="aucune donnée" title="titre poste" class="mr-2 mt-2" readonly value="{{experience[1]}}"  nz-input />
                        <input placeholder="aucune donnée" title="nom societé" class="mr-2 mt-2"  readonly value="{{experience[2]}}"  nz-input />
                        <input placeholder="aucune donnée" title="durée experience" class="mr-2 mt-2" readonly value="{{experience[3]}}"  nz-input />
                        <input placeholder="aucune donnée" title="lieu experience" class="mr-2 mt-2" readonly value="{{experience[4]}}"  nz-input />
                      </form>
                    </div>
                  </div>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
      <div *ngIf="!profile" class="w-50">
        <p class="font-weight-bold font-italic lead ml-2">linkedIn</p>
        <p class="ml-4">profile Linkedin non récupéré</p>
      </div>
    </div>
  </ng-container>

</nz-modal>


<app-spinner ></app-spinner>
<!--<nz-modal [nzWidth]="900"  [(nzVisible)]="isModalLinkedInVisible"  nzOkText="ok" nzTitle="profile linkedIn de {{profile?.name}}" (nzOnCancel)="handleCancelMadalLinkedIn()"-->
<!--          (nzOnOk)="handleMadalLinkedInOk()">-->
<!--  <ng-container *nzModalContent>-->
<!--    <div class="d-flex justify-content-between">-->
<!--      <div>-->
<!--        <img *ngIf="profile.imageProfileValid" class="rounded-circle" alt="example" src="{{profile.imgProfile}}"/>-->
<!--        <img *ngIf="!profile.imageProfileValid" class="rounded-circle" alt="example"-->
<!--             src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqrrxsxZSpsfebkw8VLXe6R5j7mryT6PK7Pg&usqp=CAU'/>-->
<!--      </div>-->

<!--      <div >-->
<!--        <a href="{{profile.link}}" class="float-right" nz-button [nzSize]="size" nzType="link">-->
<!--          <i style="font-size: 25px; color: #08c;cursor: pointer" nz-icon nzType="linkedin" nzTheme="outline"></i>-->
<!--        </a>-->
<!--        <input class="m-2" placeholder="name" nz-input [(ngModel)]="profile.name"/>-->
<!--        <input class="m-2" placeholder="profile_title" nz-input [(ngModel)]="profile.profile_title"/>-->
<!--        <textarea readonly placeholder="aucune donnée" class="m-2" name="about" nz-input  [nzAutosize]="{ minRows: 4, maxRows: 50 }" [(ngModel)]="profile.about"></textarea>-->
<!--      </div>-->
<!--    </div>-->
<!--    <nz-collapse>-->
<!--      <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Educations'" >-->
<!--        <div class="m-3" >-->
<!--          <nz-collapse *ngFor="let education of profile.education ">-->
<!--            <nz-collapse-panel [nzActive]="true" [nzHeader]="'Education'" >-->
<!--              <div class="d-flex justify-content-between">-->
<!--                <div>-->
<!--                  <img *ngIf="education[0]" class="rounded-circle" alt="photo école" src="{{education[0]}}"/>-->
<!--                  <img *ngIf="!education[0]" style="width: 150px;height: 150px" class="rounded-circle" alt="photo école" src="https://www.cvent-assets.com/brand-page-guestside-site/assets/images/venue-card-placeholder.png"/>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <form class="form-group" >-->
<!--                    <input placeholder="aucune donnée" title="nom école" class="mr-2 mt-2" readonly value="{{education[1]}}"  nz-input />-->
<!--                    <input placeholder="aucune donnée" title="titre de diplome" class="mr-2 mt-2"  readonly value="{{education[2]}}"  nz-input />-->
<!--                    <input placeholder="aucune donnée" title="durée" class="mr-2 mt-2" readonly value="{{education[3]}}"  nz-input />-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </nz-collapse-panel>-->
<!--          </nz-collapse>-->
<!--        </div>-->
<!--      </nz-collapse-panel>-->
<!--    </nz-collapse>-->
<!--    <nz-collapse>-->
<!--      <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Experiences'" >-->
<!--        <div class="m-3" >-->
<!--          <nz-collapse *ngFor="let experience of profile.experience ">-->
<!--            <nz-collapse-panel [nzActive]="true" [nzHeader]="'Experience'" >-->
<!--              <div class="d-flex justify-content-between">-->
<!--                <div class="mr-2">-->
<!--                  <img *ngIf="experience[0]" class="rounded-circle" alt="photo societé" src="{{experience[0]}}"/>-->
<!--                  <img *ngIf="!experience[0]" style="width: 150px;height: 150px" class="rounded-circle" alt="photo societé" src="https://www.cvent-assets.com/brand-page-guestside-site/assets/images/venue-card-placeholder.png"/>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <form class="form-group" >-->
<!--                    <input placeholder="aucune donnée" title="titre poste" class="mr-2 mt-2" readonly value="{{experience[1]}}"  nz-input />-->
<!--                    <input placeholder="aucune donnée" title="nom societé" class="mr-2 mt-2"  readonly value="{{experience[2]}}"  nz-input />-->
<!--                    <input placeholder="aucune donnée" title="durée experience" class="mr-2 mt-2" readonly value="{{experience[3]}}"  nz-input />-->
<!--                    <input placeholder="aucune donnée" title="lieu experience" class="mr-2 mt-2" readonly value="{{experience[4]}}"  nz-input />-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </nz-collapse-panel>-->
<!--          </nz-collapse>-->
<!--        </div>-->
<!--      </nz-collapse-panel>-->
<!--    </nz-collapse>-->
<!--  </ng-container>-->
<!--</nz-modal>-->
