<app-table-basic [isGestionCandidatComponent]="true" (modalData)="getIdCandidat($event)" (isVisibleData)="getIsVisibleValue($event)"></app-table-basic>
<nz-modal [nzWidth]="900" style="color: #0088cc"  [(nzVisible)]="isVisible" nzTitle="Candidat: {{contentModal?.name}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <nz-collapse nzAccordion>

      <!--      <nz-collapse-panel (click)="dispaly()" *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">-->
      <!--        <input type="text" placeholder="text1">-->
      <!--      </nz-collapse-panel>-->
      <nz-collapse-panel [nzActive]="true" [nzHeader]="'Coordonnées personnel'">
        <form class="form-group" >
          <input title="nom candidat" class="mr-2 mt-2" readonly value="{{contentModal.name}}"  nz-input />
          <input title="lieu candidat" class="mr-2 mt-2" readonly value="{{contentModal.lieu}}"  nz-input />
          <input title="email candidat" class="mr-2 mt-2" readonly value="{{contentModal.email}}"  nz-input />
        </form>
      </nz-collapse-panel>

      <nz-collapse *ngIf="contentModal.educations" >
        <nz-collapse-panel [nzActive]="true" [nzHeader]="'parcours académique et professionnel'">

          <nz-collapse>
            <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Education'" >
              <div class="m-3" >
                <nz-collapse *ngFor="let educ of contentModal.educations ">

                  <nz-collapse-panel [nzActive]="true" [nzHeader]="'Education'">
                    <form class="form-group" >
                      <input title="nom école" class="mr-2 mt-2"  readonly value="{{educ.nomEcole}}"  nz-input />
                      <input title="type diplome" class="mr-2 mt-2" readonly value="{{educ.typeDiplome}}"  nz-input />
                      <label title="date debut" class="p-2 mr-2 mt-2" style="border: 1px solid #E1E2E8">{{educ.dateDebut | date}} </label>
                      <label title="date fin" class="p-2" style="border: 1px solid #E1E2E8">{{educ.dateFin | date}}</label>
                    </form>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
            </nz-collapse-panel>
          </nz-collapse>

          <nz-collapse *ngIf="contentModal.experiences">
            <nz-collapse-panel [nzActive]="true"  [nzHeader]="'Experience'" >
              <div class="m-3" >
                <nz-collapse *ngFor="let exp of contentModal.experiences">
                  <nz-collapse-panel [nzActive]="true" [nzHeader]="'Experience'">
                    <input title="nom societe" class="mr-2 mt-2" readonly value="{{exp.nomSociete}}" nz-input />
                    <input title="titre poste" class="mr-2 mt-2" readonly value="{{exp.titrePoste}}" nz-input/>
                    <label title="date debut" class="p-2 mr-2 mt-2" style="border: 1px solid #E1E2E8">{{exp.dateDebut | date}} </label>
                    <label title="date fin" class="p-2" style="border: 1px solid #E1E2E8">{{exp.dateFin | date}}</label>
                    <textarea title="description de la poste" class="mr-2 mt-2" readonly nz-input value="{{exp.descriptionPoste}}" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-collapse>
  </ng-container>
</nz-modal>
<app-spinner ></app-spinner>
