
  <label class="m-3" nz-checkbox [(ngModel)]="checked">Entreprise de service numérique</label>


    <nz-collapse nzAccordion>

<!--      <nz-collapse-panel (click)="dispaly()" *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">-->
<!--        <input type="text" placeholder="text1">-->
<!--      </nz-collapse-panel>-->
      <nz-collapse-panel [nzHeader]="'Coordonnées personnel'">
      <form *ngIf="checked" [formGroup]="profileEsn" class="form-group" (ngSubmit)="submitFormESN()">

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>nom ESN</nz-form-label>
          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." nzErrorTip="ce champ est obligatoire">
            <input nz-input formControlName="nonEsn" placeholder="nom ESN" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>photo de profile</nz-form-label>
          <nz-form-control class="custom-file mb-3" [nzSpan]="12" nzValidatingTip="Validating..." nzErrorTip="ce champ est obligatoire">
            <input nz-input class="btn-primary"  formControlName="imageEsn" (change)="selectFile($event)"  type="file" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>email</nz-form-label>
          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." nzErrorTip="This email is not valid E-mail!">
            <input nz-input formControlName="email" placeholder="email" type="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>rib</nz-form-label>
          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="rib" placeholder="rib" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>iban</nz-form-label>
          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="iban" placeholder="iban" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>lieu</nz-form-label>
          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="lieu" placeholder="lieu" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button  class="btn ant-btn-primary float-right rounded-circle" >enregistrer</button>
          </nz-form-control>
        </nz-form-item>
      </form>
        <!----------------------------------------->
        <form *ngIf="!checked" [formGroup]="profilePrestataire" class="form-group">
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>nom</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
              <input nz-input formControlName="nom" placeholder="nom" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>prénom</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
              <input nz-input formControlName="prenom" placeholder="prenom" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>photo de profile</nz-form-label>
            <nz-form-control class="custom-file mb-3" [nzSpan]="12" nzValidatingTip="Validating..." nzErrorTip="ce champ est obligatoire">

              <input nz-input class="btn-primary"  formControlName="imagePrestataire" (change)="selectFile($event)"  type="file" />

            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>email</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." nzErrorTip="This email is not valid E-mail!">
              <input nz-input formControlName="email" placeholder="email" type="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>profession</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
              <input nz-input formControlName="profession" placeholder="profession" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>rib</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
              <input nz-input formControlName="rib" placeholder="rib" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>iban</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
              <input nz-input formControlName="iban" placeholder="iban" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>lieu</nz-form-label>
            <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
              <input nz-input formControlName="lieu" placeholder="lieu" />
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-collapse-panel>

      <nz-collapse  >
        <nz-collapse-panel *ngIf="!checked" [nzDisabled]="checked"  [nzHeader]="'Remplir votre cv'">

          <nz-collapse>
              <nz-collapse-panel  [nzHeader]="'Educations'" >
                <i class=" float-right" [nzSpin]="true" (click)="addSouSectionEducation()" nz-icon nzType="plus-circle" nzTheme="outline"></i>

                <div class="m-3" >
                  <nz-collapse>

                    <nz-collapse-panel   *ngFor="let p of nomberSousSectionEducation;let i = index"  [nzHeader]="'Education'">
                      <form  [formGroup]="formsEducation[i]" class="form-group" >
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired>nom ecole</nz-form-label>
                          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                            <input nz-input formControlName="nomEcole" placeholder="nom ecole" />
                          </nz-form-control>
                        </nz-form-item>
                      <!------------------------------------------->
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired>type diplome</nz-form-label>
                          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating..." nzErrorTip="The input is not valid E-mail!">
                            <input nz-input formControlName="typeDiplome" placeholder="type diplome" [nzAutocomplete]="auto"  />
                          </nz-form-control>
                        </nz-form-item>
                      <nz-autocomplete #auto [compareWith]="compareFun">
                        <nz-auto-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option.label">
                          {{ option.label }}
                        </nz-auto-option>
                      </nz-autocomplete>

                      <!------------------------------------------->
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired>duree</nz-form-label>
                          <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                            <nz-range-picker formControlName="dureeEcucation" [nzFormat]="dateFormat"></nz-range-picker>
                          </nz-form-control>
                        </nz-form-item>

                      </form>
                    </nz-collapse-panel>

                  </nz-collapse>
                </div>
              </nz-collapse-panel>
          </nz-collapse>

          <nz-collapse>
            <nz-collapse-panel  [nzHeader]="'Experience'" >
              <i class=" float-right" [nzSpin]="true" (click)="addSouSectionExperience()" nz-icon nzType="plus-circle" nzTheme="outline"></i>
              <div class="m-3" >
                <nz-collapse>
                  <nz-collapse-panel *ngFor="let p of nomberSousSectionExperience;let i = index" [nzHeader]="'Experience'">
                    <form  [formGroup]="formsExperience[i]" class="form-group" >
                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>nom societe</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                          <input nz-input formControlName="nomSociete" placeholder="nom societe" />
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>titre de poste</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                          <input nz-input formControlName="titrePoste" placeholder="titre de poste" />
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>durée experience</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                          <nz-range-picker formControlName="dureeExperience" [nzFormat]="dateFormat" ></nz-range-picker>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>description experience</nz-form-label>
                        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                          <textarea nz-input placeholder="Ajouter une brieve descrption" formControlName="descriptionExperience" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </form>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
      </nz-collapse-panel>
      </nz-collapse>
      <button *ngIf="!checked" class="btn btn-primary float-right rounded-circle mt-2" (click)="submitProfilePrestataire()">SUBMIT</button>

    </nz-collapse>
